@import '~src/assets/styles/shared';

#page-container {
	display: flex;
	height: 100%;
	width: 100%;
	padding-top: $header-height;
	background: linear-gradient(135deg, $red, $purple, $blue);
	background-size: 200% 100%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}