@import '~src/assets/styles/shared';

:host {
	position: fixed;
	right: 16px;
	display: flex;
	align-items: center;
	z-index: $watermark-z-index;

	> .watermark {
		height: 24px;
		width: 24px;
		outline: none;
		opacity: .25;

		&:hover {
			opacity: 1;
		}

		&:not(:last-child) {
			margin-right: 16px;
		}
	}
}

@media screen and (min-width: $container-width + 196px) {
    :host {
        bottom: 16px !important;
    }
}

@media screen and (max-width: $container-width + 196px) {
    :host {
        top: 20px !important;
    }
}