<div class="container">
  <div class="card">
    <div #container class="message-container scrollbar">
      <app-message [message]="message"
                   [next]="getStatusForNext(i)"
                   [previous]="getStatusForPrevious(i)"
                   *ngFor="let message of messages; index as i">
      </app-message>
    </div>
    <div class="input-container">
      <input (keydown.enter)="send()"
             [(ngModel)]="message"
             placeholder="Aa"
             required
             type="text" />
      <svg-icon (click)="send()"
                [applyCss]="true"
                [class.disabled]="!hasMessage"
                class="send transition"
                src="../assets/images/send.svg">
      </svg-icon>
    </div>
  </div>
</div>
<app-change-name (userChangedEvent)="user = $event"
                 [@fadeInOut]
                 *ngIf="!user?.name">
</app-change-name>
