@import '~src/assets/styles/_variables.scss';

:host {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: linear-gradient(135deg, $red, $purple, $blue);
	background-size: 200% 100%;
	-webkit-animation: gradient 30s ease infinite;
	   -moz-animation: gradient 30s ease infinite;
	     -o-animation: gradient 30s ease infinite;
	        animation: gradient 30s ease infinite;

	.chatroom-container {
		display: flex;
		width: 100%;
		max-width: 768px;
		height: 100%;

		.message-container {
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			width: 100%;
			margin: 32px;
			padding: 16px;
			background: $white;
			border-radius: 16px;
			overflow-y: scroll;

			.message {
				display: flex;
				border-radius: 16px;
				background: $light;
				padding: 8px;
			}
		}

	}
}