<div class="chatroom-container">
	<div class="placeholder"
		(click)="sendTestRecieved()"></div>
	<div class="message-container scrollbar" #container>
		<app-message *ngFor="let message of messages; index as i"
			[message]="message"
			[previous]="getStatusForPrevious(i)"
			[next]="getStatusForNext(i)"></app-message>
	</div>
	<div class="input-container">
        <input type="text"
        	[(ngModel)]="message"
            (keydown.enter)="send()"
            placeholder="Enter your message..."
            required>
        <svg-icon src="../assets/images/send.svg"
			[applyCss]="true"
			class="send transition"
			[class.disabled]="!hasMessage"
			(click)="send()"></svg-icon>
	</div>
</div>
