@import '~src/assets/styles/shared';

:host {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: linear-gradient(135deg, $red, $purple, $blue);
	background-size: 200% 100%;
	-webkit-animation: gradient 30s ease infinite;
	   -moz-animation: gradient 30s ease infinite;
	     -o-animation: gradient 30s ease infinite;
	        animation: gradient 30s ease infinite;

	.chatroom-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;
		max-width: 768px;
		height: calc(100% - 64px);
		background: $white;
		border-radius: 16px;
		overflow: hidden;
		margin: 0 32px;

		.message-container {
			padding: 16px 16px 0;
		}

		.input-container {
			display: flex;
			justify-content: between;
			padding: 16px;
			border-top: 2px solid $light;

			input {
				margin: 0 16px;
			}
		}
	}
}