
// Variables
@import 'assets/styles/shared';

// Reset
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Fonts
.roboto {
  font-family: $roboto;
}

.open-sans {
  font-family: $open-sans;
}

// Defaults
html, body {
  @extend .open-sans;
  font-display: auto;
  color: $gray-dark;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  @extend .roboto;
  font-weight: normal;
  margin: 0 0 16px 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $dark;
}

// Other
@import 'assets/styles/forms';
@import 'assets/styles/scrollbar';

.transition {
    transition: all ease-in-out $transition-speed;
};
