input {
  display: block;
  width: 100%;
  border-radius: 20px;
  padding: 8px 16px;
  border: 0;
  background: $light;
  color: $gray;
  outline: none;
}

.btn {
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  border-radius: 20px;
  padding: 8px 16px;
  border: 0;
  background: $light;
  color: $dark;
  transition: all ease-in-out $transition-speed;

  &:not(:disabled) {
    &:hover,
    &:focus {
      background: #ccc;
    }
  }

  &:disabled {
    background-color: $light !important;
    border-color: $light !important;
    color: $white !important;
    cursor: default;
  }
}

.icon {
  margin-left: 16px;

  &,
  svg {
    height: 24px;
    width: 24px;
  }

  &.disabled {
    opacity: 0.25;
  }

  &:not(.disabled) {
    cursor: pointer;
  }

  &:focus {
    transform: translateY(-2px);
  }
}
