input {
  display: block;
  width: 100%;
  border-radius: 20px;
  padding: 8px 16px;
  border: 0;
  background: $light;
  color: $gray;
  outline: none;
}

.btn {
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  border-radius: 20px;
  padding: 8px 16px;
  border: 0;
  background: $light;
  color: $dark;
  transition: all ease-in-out $transition-speed;

  &:not(:disabled) {
    &:hover,
    &:focus {
      background: #ccc;
    }
  }

  &:disabled {
    background-color: $light !important;
    border-color: $light !important;
    color: $white !important;
    cursor: default;
  }
}
