.link {
  text-decoration: none;
  color: inherit;
  position: relative;
  cursor: pointer;
  background-image: linear-gradient(
    120deg,
    rgba(var(--red), 0.25),
    rgba(var(--purple), 0.25)
  );
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: 0 100%;
  outline: none;
  @extend .transition;

  &:hover,
  &:focus {
    background-size: 100% 100%;
  }
}
